Header.header 
    .container 
        .row.align-items-center
            .col-1
                .inner-logo
                    a(href="/")
                        img(src="/images/images.jpg", alt="Logo")
            .col-3
                h3 XPERIA-5
            .col-6
                .inner-menu
                    ul
                        li
                            a(href="/") Home Page
                        li
                            a(href="/products/") Product List