header {
    background: rgb(16, 2, 36);
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
@media (max-width: 767px) {
    header{
        display: none;
    }
    header form{
        display: none;
    }
    header .button-header{
        display: none;
    }
}
.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: aliceblue;
}
.body {
    position: relative;
}
.body .sider {
    width: 125px;
    height: 100%;
    background: #3a3939;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.body .sider .inner-menu {
    font-size: 17px;
    margin-top: 100px;
}
.body .main {
    top: 0px;
    position: absolute;
    left: 150px;
    width: calc(100% - 180px);
}

.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: white;
    display: block;
    padding: 6px 10px; 
    border-bottom: 1px solid #3f3b3b;
}

.pagination .page-item .page-link {
    box-shadow: none;
}
.pagination .page-item .page-link:hover {
    background: rgb(56, 184, 235);
    color: black;
}
.pagination .input-pagination {
    transition: all 0.3s ease;
}
.pagination .input-pagination:hover {
    background: white;
    transform: translateX(10px);
}

.pagination .input-pagination .page-link{
    transition: all 0.3s ease;
    cursor: text;
}

.pagination .input-pagination .page-link:hover {
    background: white;
    border-radius: 50px;
    border: 1px solid black;
}
.check-box:hover {
    background-color: aqua;
}

/* sidebar */
.marleft {
    margin-top: 100px;
}
/* -------------------------------  */
  .appear-from-right {
    position: fixed; 
    padding: 15px;
    z-index: 9999999999;
    right: 15px;
    top: 15px;
  }
  
  .appear-from-right.show {
    display: none;
  }
  .button-cancel {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
  }
  
  .form-control {
    border: none;
    box-shadow: none;
  }
  .form-control div {
    /* margin: 10px 0; */
  }
  .form-control input {
    border: 1px solid #897979;
  }
  .form-control lable {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-right: 2px;
    color: #016b0a;

  }
  .form-control textarea {
    border: 1px solid #897979;
  }
  input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  input[type="radio"]:checked {
    border: 6px solid rgb(22, 175, 235);
  }

  .a-none {
    color: white;
    text-decoration: none;
  }
  .a-none:hover {
    color: white;
    text-decoration: none;
  }

  /* .none-img-button img[src=""] {
    display: none;
  } */

  /* Product detail */
  .inner-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
  }
  .inner-image {
    width: 50%;
  }
  .inner-image img{
    width: 100%;
    height: auto;
  }
  .inner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .inner-content .inner-brand {
    color: rgb(8, 174, 8);
    font-weight: 600;
  }
  