.header {
    background: rgb(16, 2, 36);
    padding: 10px 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .iiner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: aliceblue;
}

.body .sider {
    width: 150px;
    background: #323232;
    color: white;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}

.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: white;
    display: block;
    padding: 6px 10px; 
    border-bottom: 1px solid #3f3b3b;
}
