.header {
    border-bottom: 1px solid black;
    padding: 10px;
}
.header .inner-logo img {
    max-height: 50px;
}
.header .inner-menu > ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li {
    margin-left: 20px;
}

.footer {
    background: black;
    color: azure;
    text-align: center;
    padding: 10px;
}
/* end footer */

/* Các kiểu chung cho sản phẩm */
.product-item {
    display: flex;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    max-width: 150px;
    max-height: 300px;
  }
  
  /* Phần hình ảnh5 bên trong sản phẩm */
  .product-item .inner-image {
    margin-right: 10px;
  }
  
  .product-item .inner-image img {
    max-width: 100%;
    height: auto;
  }
  
  /* Phần nội dung bên trong sản phẩm */
  .product-item .inner-content {
    flex-grow: 1; /* Phần nội dung chiếm toàn bộ phần còn lại của sản phẩm */
  }
  
    .inner-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .inner-price-new {
    color: green;
    font-weight: bold;
  }
  
  .inner-price-old {
    color: #999;
    text-decoration: line-through;
    margin-right: 10px;
  }
  
  .inner-content .inner-discount {
    color: rgb(255, 0, 0);
    font-weight: bold;
  }
  .inner-price-old {
    color: #999; /* Set the color to a muted or grayish tone */
    text-decoration: line-through; /* Apply a strikethrough effect */
    margin-right: 10px;
  }
  .titlePage {
    color: green;
    font-size: 80px;
  }
  