mixin sort()
    select(name="sort" class="form-control" id="sort-select" sort-select style="border: 1px solid #228D3A")
        option(disabled selected) -- Option Sort --
        option(value="position-desc") Position Up
        option(value="position-asc") Position Down
        option(value="price-asc") Price Up
        option(value="price-desc") Price Down
        option(value="title-asc") A - Z
        option(value="title-desc") Z - A