header
    <header class="p-3 bg-dark text-white">
        <div class="container-fluid w-100">
            <div class="d-flex flex-nowrap align-items-start justify-content-around justify-content-lg-around">
                <a href="/" class="d-flex align-items-start mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="1" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-between mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>
                <form class="col-3 col-lg-auto mb-3 mb-lg-0 ">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end button-header">
                    a(href=`#` class="btn btn-primary me-2 mr-md-3" role="button" aria-pressed="true" ) #{user.fullName}
                    a(href=`${prefixAdmin}/auth/logout` class="btn btn-danger text-end" role="button" aria-pressed="true") Logout
                </div>
            </div>
        </div>
    </header>         