.sider
    .inner-menu
        ul(style="font-size:20px;")  
            li
                a(href=`${prefixAdmin}/dashboard`) Overview
            li 
                a(href=`${prefixAdmin}/products`) Product
            li 
                a(href=`${prefixAdmin}/products/create`) Add New